@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/Helvetica-Neue-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/Helvetica-Neue-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/Helvetica-Neue-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/Helvetica-Neue-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/Helvetica-Neue-Bold.ttf');
  font-weight: 700;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary-color: #7258D7;
  --secondary-color: #1B0E45;
  --tertiary-color: #2C2D37;
  --quaternary-color: #C0B9B0;
  --accent-color: #EB405F;
  --light-gray-color: #C6C6C6; 
  --gray-color: #8D8D8D; 
  --primary-font: 'Helvetica Neue', sans-serif;
  --secondary-font: 'Space Grotesk', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--primary-font);
}

/* Margin Classes*/
.mx-1 {
  margin-right:0.8rem;
  margin-left: 0.8rem;
}

.my-1 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-3 {
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.my-3 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.mx-4 {
  margin-right: 1.4rem;
  margin-left: 1.4rem;
}

.my-4 {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.mx-5 {
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}

.my-5 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mx-6 {
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.my-6 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.mx-7 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.my-7 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-8 {
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}

.my-8 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.mx-9 {
  margin-right: 2.8rem;
  margin-left: 2.8rem;
}

.my-9 {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.mx-10 {
  margin-right: 3.2rem;
  margin-left: 3.2rem;
}

.my-10 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.mx-11 {
  margin-right: 3.6rem;
  margin-left: 3.6rem;
}

.my-11 {
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
}

.mx-12 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.my-12 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Padding classes */
.px-1 {
  padding-right:0.8rem;
  padding-left: 0.8rem;
}

.py-1 {
  padding-top:0.8rem;
  padding-bottom: 0.8rem;
}

.px-2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-3 {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.py-3 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.px-4 {
  padding-right: 1.4rem;
  padding-left: 1.4rem;
}

.py-4 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.px-5 {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.py-5 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.px-6 {
  padding-right: 1.8rem;
  padding-left: 1.8rem;
}

.py-6 {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.px-7 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.py-8 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.px-9 {
  padding-right: 2.8rem;
  padding-left: 2.8rem;
}

.py-9 {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.px-10 {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
}

.py-10 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.px-11 {
  padding-right: 3.6rem;
  padding-left: 3.6rem;
}

.py-11 {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

.px-12 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.py-12 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Font sizes */
.text-xs {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.text-s {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.text-m {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.text-l {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.text-xl {
  font-size: 2rem;
  line-height: 2.4rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-family: var(--secondary-font);
}

h2 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-family: var(--secondary-font);
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-family: var(--secondary-font);
}

/* Font weight*/
.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Form input classes */
.label__input--caps {
  text-transform: uppercase;
}

.label__input--extended {
  min-height: 110px;
  text-transform: none;
  resize: none;
}

.label__input {
  border: solid 2px var(--light-gray-color);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: black;
  line-height: 1.7rem;
  margin-top: 0.8rem;
  padding: 0.8rem 1.6rem;
}

input::placeholder {
  text-transform: none;
  color: var(--gray-color)
}

textarea::placeholder {
  color:var(--gray-color);  
}
/*This class shortens any long titles or author names to two lines*/
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*This class shortens author names to one line*/
.one-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
