:root {
  --white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
}

.text-xs {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.text-s {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.text-m {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.text-l {
  font-size: 1.8rem;
  line-height: 2.1rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 4.6rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 3.1rem;
}
h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.px-1 {
  padding-right:0.8rem;
  padding-left: 0.8rem;
}

.py-1 {
  padding-top:0.8rem;
  padding-bottom: 0.8rem;
}

.px-2 {
  padding-right:1rem;
  padding-left: 1rem;
}

.py-2 {
  padding-top:0.8rem;
  padding-bottom: 0.8rem;
}

.label__input {
  border: solid 2px black;
  border-radius: 8px;
  color: black;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-top: 0.6rem;
  padding: 0.8rem 1.6rem;
}

input::placeholder {
  text-transform: none;
}

.label__input-caps {
  text-transform: uppercase;
}